@keyframes alertShowAnimation {
  0% {
    transform: translateX(18rem);
  }

  8% {
    transform: translateX(0);
  }

  92% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(18rem);
  }
}

.custom-alert-animation {
  animation: alertShowAnimation 4s forwards;
}

.custom-screen-100vh-without-header {
  height: calc(100vh - 6rem);
}
