@keyframes alertShowAnimation {
  0% {
    transform: translateX(18rem);
  }

  8% {
    transform: translateX(0);
  }

  92% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(18rem);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.custom-alert-animation {
  animation: alertShowAnimation 4s forwards;
}

.custom-screen-100vh-without-header {
  height: calc(100vh - 6rem);
}

.custom-image-animation {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
